.conteudo-formulario {
    background-color: var(--preto-titulo);  /* Usando variável para fundo */
    padding-top: 120px;
    padding-bottom: 120px;
    align-items: center;
}

[data-theme="dark"] .conteudo-formulario {
    background-color: var(--preto-mn);  /* Alterando para tema escuro */
}

.conteudo-formulario h2 {
    color: var(--fundo-da-aplicação);  /* Cor do título */
    text-align: center;
    font-family: var(--fonte-principal);  /* Fonte do título, usando variável */
    font-size: 2em;
    margin-bottom: 20px;
}

.conteudo-formulario p {
    font-family: var(--fonte-secundaria);  /* Fonte secundária, usada nos parágrafos */
    font-size: 1.1em;
    margin-bottom: 15px;
    color: var(--fundo-da-aplicação);  /* Cor do texto, utilizando variável */
    display: flex;
    justify-content: center;
}

.conteudo-formulario a {
    font-family: var(--fonte-secundaria);  /* Fonte do link */
    font-weight: bold;
    color: var(--cor-link);  /* Usando variável para cor do link */
    text-decoration: none;  /* Sem sublinhado */
    transition: color 0.3s ease, transform 0.3s ease;
}

.conteudo-formulario a:hover {
    color: var(--amarelo-claro);  /* Cor do link no hover */
    transform: scale(1.05);  /* Efeito de aumento no hover */
}

.conteudo-formulario a[href*="mailto"] {
    color: var(--fundo-da-aplicação);  /* Cor específica para o e-mail */
}

.conteudo-formulario a[href*="mailto"]:hover {
    color: var(--amarelo-claro);  /* Cor mais escura para o hover do e-mail */
}

.conteudo-formulario a[href*="wa.me"] {
    color: var(--fundo-da-aplicação);  /* Cor específica para WhatsApp */
}

.conteudo-formulario a[href*="wa.me"]:hover {
    color: var(--amarelo-claro);  /* Cor mais escura para o hover do WhatsApp */
}
