.conteudo-habilidades {   
    margin: 30px auto; /* Centraliza o conteúdo horizontalmente */
    width: 100%;
    max-width: 1200px; /* Limita a largura máxima para melhor responsividade */
    padding: 50px;
    font-size: 22px;
    background-color: var(--fundo-da-aplicacao);  
    text-align: center; 
}

.habilidades-titulo {
    margin: 20px;
    padding: 20px;
    font-size: 32px;
    color: var(--preto-titulo);
    text-align: center;
    font-family: var(--fonte-principal);
} 

.ferramentas-descrição {
    font-size: 22px;
    color: var(--preto-titulo);
    text-align: center;
}

[data-theme="dark"] .conteudo-habilidades {
    background-color: var(--preto-titulo);
}

[data-theme="dark"] .habilidades_titulo {
    color: var(--fundo-da-aplicação);
}

[data-theme="dark"] .ferramentas_descrição {
    color: var(--fundo-da-aplicação);
    
} 
