@import url(carrossel.css);
@import url(header.css);
@import url(apresentacao.css);
@import url(hab.css);
@import url(contato.css);


:root {
    --azul-turquesa: #026E81;
    --azul-turquesa-claro: #00ABBD;
    --azul: #0099DD;
    --laranja: #a9a29b;
    --amarelo-claro: #F0A500;
    --preto-titulo: #242424;
    --fundo-da-aplicação: #E1D7C6;
    --fonte-principal: 'Homemade Apple', cursive;
    --fonte-secundaria:'Raleway', sans-serif;
}

body {
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    color: var(--preto-titulo);
    background-color: var(--fundo-da-aplicação)
}

h1, h2, h3 {
    font-family: var(--fonte-principal); /* Homemade Apple */
    font-size: 26px;
}

[data-theme="dark"] body {
    color: var(--fundo-da-aplicação);
    background-color: var(--preto-titulo);
}

section {
    padding: 1em 10%;
}


h2 {
    padding-bottom: 1em;
    line-height: 1.3em;
    font-size: 40px;
    line-height: 42px;
}

p {
    line-height: 26px;
}


* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}





@media screen and (min-width: 720px) {
    form {
        width: 30%;
    }

    .conteudo-home img {
        width: 70%;
        height: 70%;
    }

    .formulario-container {
        display: flex;
        justify-content: center;
        gap: 5em;
    }

    .home-titulo {
        font-size: 48px;
        line-height: 56px;
    }

    .conteudo-home {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10em;
        height: 80vh;
    }


    .projetos-lista li:nth-child(1) {
        grid-column: 2 / span 3;
    }

    .projetos-lista li:nth-child(2) {
        grid-column: 5 / span 4;
    }

    .projetos-lista li:nth-child(3) {
        grid-column: 9 / span 3;
    }



    .lista-habilidades {
        flex-direction: row;

    }

    .lista-habilidades li {
        height: 300px;
        flex: 1
    }
}